In [1]:
import requests
from pprint import pprint
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statistics
import datetime
import geopy 

%matplotlib notebook

In [2]:
Race06_df = pd.read_csv('Race_06.csv',header=1)
Race06_df = pd.read_csv('Race_06.csv',header=1)
Race12_df = pd.read_csv('Race_12.csv',header=1)
Income16_df = pd.read_csv('Income_16.csv',header=1)
Age11_df = pd.read_csv('Age_11.csv',header=1)
Age05_df = pd.read_csv('Age_05.csv',header=1)
Income17_df = pd.read_csv('Income_17.csv',header=1)
Age10_df = pd.read_csv('Age_10.csv',header=1)
Race13_df = pd.read_csv('Race_13.csv',header=1)
Race07_df = pd.read_csv('Race_07.csv',header=1)
Race11_df = pd.read_csv('Race_11.csv',header=1)
Race05_df = pd.read_csv('Race_05.csv',header=1)
Age06_df = pd.read_csv('Age_06.csv',header=1)
Age12_df = pd.read_csv('Age_12.csv',header=1)
Income15_df = pd.read_csv('Income_15.csv',header=1)
Age13_df = pd.read_csv('Age_13.csv',header=1)
Income14_df = pd.read_csv('Income_14.csv',header=1)
Age07_df = pd.read_csv('Age_07.csv',header=1)
Race10_df = pd.read_csv('Race_10.csv',header=1)
Race14_df = pd.read_csv('Race_14.csv',header=1)
Income10_df = pd.read_csv('Income_10.csv',header=1)
Age17_df = pd.read_csv('Age_17.csv',header=1)
Income11_df = pd.read_csv('Income_11.csv',header=1)
Age16_df = pd.read_csv('Age_16.csv',header=1)
Income05_df = pd.read_csv('Income_05.csv',header=1)
Race15_df = pd.read_csv('Race_15.csv',header=1)
Race17_df = pd.read_csv('Race_17.csv',header=1)
Age14_df = pd.read_csv('Age_14.csv',header=1)
Income13_df = pd.read_csv('Income_13.csv',header=1)
Income07_df = pd.read_csv('Income_07.csv',header=1)
Income06_df = pd.read_csv('Income_06.csv',header=1)
Age15_df = pd.read_csv('Age_15.csv',header=1)
Income12_df = pd.read_csv('Income_12.csv',header=1)
Race16_df = pd.read_csv('Race_16.csv',header=1)
Income08_df = pd.read_csv('Income_08.csv',header=1)
Income09_df = pd.read_csv('Income_09.csv',header=1)
Race09_df = pd.read_csv('Race_09.csv',header=1)
Race08_df = pd.read_csv('Race_08.csv',header=1)
Age09_df = pd.read_csv('Age_09.csv',header=1)
Age08_df = pd.read_csv('Age_08.csv',header=1)

In [3]:
Race06_df['Year'] = 2006
Race12_df['Year'] = 2012
Income16_df['Year'] = 2016
Age11_df['Year'] = 2011
Age05_df['Year'] = 2005
Income17_df['Year'] = 2017
Age10_df['Year'] = 2010
Race13_df['Year'] = 2013
Race07_df['Year'] = 2007
Race11_df['Year'] = 2011
Race05_df['Year'] = 2005
Age06_df['Year'] = 2006
Age12_df['Year'] = 2012
Income15_df['Year'] = 2015
Age13_df['Year'] = 2013
Income14_df['Year'] = 2014
Age07_df['Year'] = 2007
Race10_df['Year'] = 2010
Race14_df['Year'] = 2014
Income10_df['Year'] = 2010
Age17_df['Year'] = 2017
Income11_df['Year'] = 2011
Age16_df['Year'] = 2016
Income05_df['Year'] = 2005
Race15_df['Year'] = 2015
Race17_df['Year'] = 2017
Age14_df['Year'] = 2014
Income13_df['Year'] = 2013
Income07_df['Year'] = 2007
Income06_df['Year'] = 2006
Age15_df['Year'] = 2015
Income12_df['Year'] = 2012
Race16_df['Year'] = 2016
Income08_df['Year'] = 2008
Income09_df['Year'] = 2009
Race09_df['Year'] = 2009
Race08_df['Year'] = 2008
Age09_df['Year'] = 2009
Age08_df['Year'] = 2008

In [30]:
print(list(Age08_df.columns))

['Id', 'Id2', 'Geography', 'Total; Estimate; Total population', 'Total; Margin of Error; Total population', 'Male; Estimate; Total population', 'Male; Margin of Error; Total population', 'Female; Estimate; Total population', 'Female; Margin of Error; Total population', 'Total; Estimate; Total population - AGE - Under 5 years', 'Total; Margin of Error; Total population - AGE - Under 5 years', 'Male; Estimate; Total population - AGE - Under 5 years', 'Male; Margin of Error; Total population - AGE - Under 5 years', 'Female; Estimate; Total population - AGE - Under 5 years', 'Female; Margin of Error; Total population - AGE - Under 5 years', 'Total; Estimate; Total population - AGE - 5 to 9 years', 'Total; Margin of Error; Total population - AGE - 5 to 9 years', 'Male; Estimate; Total population - AGE - 5 to 9 years', 'Male; Margin of Error; Total population - AGE - 5 to 9 years', 'Female; Estimate; Total population - AGE - 5 to 9 years', 'Female; Margin of Error; Total population - AGE - 5 to 9 years', 'Total; Estimate; Total population - AGE - 10 to 14 years', 'Total; Margin of Error; Total population - AGE - 10 to 14 years', 'Male; Estimate; Total population - AGE - 10 to 14 years', 'Male; Margin of Error; Total population - AGE - 10 to 14 years', 'Female; Estimate; Total population - AGE - 10 to 14 years', 'Female; Margin of Error; Total population - AGE - 10 to 14 years', 'Total; Estimate; Total population - AGE - 15 to 19 years', 'Total; Margin of Error; Total population - AGE - 15 to 19 years', 'Male; Estimate; Total population - AGE - 15 to 19 years', 'Male; Margin of Error; Total population - AGE - 15 to 19 years', 'Female; Estimate; Total population - AGE - 15 to 19 years', 'Female; Margin of Error; Total population - AGE - 15 to 19 years', 'Total; Estimate; Total population - AGE - 20 to 24 years', 'Total; Margin of Error; Total population - AGE - 20 to 24 years', 'Male; Estimate; Total population - AGE - 20 to 24 years', 'Male; Margin of Error; Total population - AGE - 20 to 24 years', 'Female; Estimate; Total population - AGE - 20 to 24 years', 'Female; Margin of Error; Total population - AGE - 20 to 24 years', 'Total; Estimate; Total population - AGE - 25 to 29 years', 'Total; Margin of Error; Total population - AGE - 25 to 29 years', 'Male; Estimate; Total population - AGE - 25 to 29 years', 'Male; Margin of Error; Total population - AGE - 25 to 29 years', 'Female; Estimate; Total population - AGE - 25 to 29 years', 'Female; Margin of Error; Total population - AGE - 25 to 29 years', 'Total; Estimate; Total population - AGE - 30 to 34 years', 'Total; Margin of Error; Total population - AGE - 30 to 34 years', 'Male; Estimate; Total population - AGE - 30 to 34 years', 'Male; Margin of Error; Total population - AGE - 30 to 34 years', 'Female; Estimate; Total population - AGE - 30 to 34 years', 'Female; Margin of Error; Total population - AGE - 30 to 34 years', 'Total; Estimate; Total population - AGE - 35 to 39 years', 'Total; Margin of Error; Total population - AGE - 35 to 39 years', 'Male; Estimate; Total population - AGE - 35 to 39 years', 'Male; Margin of Error; Total population - AGE - 35 to 39 years', 'Female; Estimate; Total population - AGE - 35 to 39 years', 'Female; Margin of Error; Total population - AGE - 35 to 39 years', 'Total; Estimate; Total population - AGE - 40 to 44 years', 'Total; Margin of Error; Total population - AGE - 40 to 44 years', 'Male; Estimate; Total population - AGE - 40 to 44 years', 'Male; Margin of Error; Total population - AGE - 40 to 44 years', 'Female; Estimate; Total population - AGE - 40 to 44 years', 'Female; Margin of Error; Total population - AGE - 40 to 44 years', 'Total; Estimate; Total population - AGE - 45 to 49 years', 'Total; Margin of Error; Total population - AGE - 45 to 49 years', 'Male; Estimate; Total population - AGE - 45 to 49 years', 'Male; Margin of Error; Total population - AGE - 45 to 49 years', 'Female; Estimate; Total population - AGE - 45 to 49 years', 'Female; Margin of Error; Total population - AGE - 45 to 49 years', 'Total; Estimate; Total population - AGE - 50 to 54 years', 'Total; Margin of Error; Total population - AGE - 50 to 54 years', 'Male; Estimate; Total population - AGE - 50 to 54 years', 'Male; Margin of Error; Total population - AGE - 50 to 54 years', 'Female; Estimate; Total population - AGE - 50 to 54 years', 'Female; Margin of Error; Total population - AGE - 50 to 54 years', 'Total; Estimate; Total population - AGE - 55 to 59 years', 'Total; Margin of Error; Total population - AGE - 55 to 59 years', 'Male; Estimate; Total population - AGE - 55 to 59 years', 'Male; Margin of Error; Total population - AGE - 55 to 59 years', 'Female; Estimate; Total population - AGE - 55 to 59 years', 'Female; Margin of Error; Total population - AGE - 55 to 59 years', 'Total; Estimate; Total population - AGE - 60 to 64 years', 'Total; Margin of Error; Total population - AGE - 60 to 64 years', 'Male; Estimate; Total population - AGE - 60 to 64 years', 'Male; Margin of Error; Total population - AGE - 60 to 64 years', 'Female; Estimate; Total population - AGE - 60 to 64 years', 'Female; Margin of Error; Total population - AGE - 60 to 64 years', 'Total; Estimate; Total population - AGE - 65 to 69 years', 'Total; Margin of Error; Total population - AGE - 65 to 69 years', 'Male; Estimate; Total population - AGE - 65 to 69 years', 'Male; Margin of Error; Total population - AGE - 65 to 69 years', 'Female; Estimate; Total population - AGE - 65 to 69 years', 'Female; Margin of Error; Total population - AGE - 65 to 69 years', 'Total; Estimate; Total population - AGE - 70 to 74 years', 'Total; Margin of Error; Total population - AGE - 70 to 74 years', 'Male; Estimate; Total population - AGE - 70 to 74 years', 'Male; Margin of Error; Total population - AGE - 70 to 74 years', 'Female; Estimate; Total population - AGE - 70 to 74 years', 'Female; Margin of Error; Total population - AGE - 70 to 74 years', 'Total; Estimate; Total population - AGE - 75 to 79 years', 'Total; Margin of Error; Total population - AGE - 75 to 79 years', 'Male; Estimate; Total population - AGE - 75 to 79 years', 'Male; Margin of Error; Total population - AGE - 75 to 79 years', 'Female; Estimate; Total population - AGE - 75 to 79 years', 'Female; Margin of Error; Total population - AGE - 75 to 79 years', 'Total; Estimate; Total population - AGE - 80 to 84 years', 'Total; Margin of Error; Total population - AGE - 80 to 84 years', 'Male; Estimate; Total population - AGE - 80 to 84 years', 'Male; Margin of Error; Total population - AGE - 80 to 84 years', 'Female; Estimate; Total population - AGE - 80 to 84 years', 'Female; Margin of Error; Total population - AGE - 80 to 84 years', 'Total; Estimate; Total population - AGE - 85 years and over', 'Total; Margin of Error; Total population - AGE - 85 years and over', 'Male; Estimate; Total population - AGE - 85 years and over', 'Male; Margin of Error; Total population - AGE - 85 years and over', 'Female; Estimate; Total population - AGE - 85 years and over', 'Female; Margin of Error; Total population - AGE - 85 years and over', 'Total; Estimate; Total population - SELECTED AGE CATEGORIES - 5 to 14 years', 'Total; Margin of Error; Total population - SELECTED AGE CATEGORIES - 5 to 14 years', 'Male; Estimate; Total population - SELECTED AGE CATEGORIES - 5 to 14 years', 'Male; Margin of Error; Total population - SELECTED AGE CATEGORIES - 5 to 14 years', 'Female; Estimate; Total population - SELECTED AGE CATEGORIES - 5 to 14 years', 'Female; Margin of Error; Total population - SELECTED AGE CATEGORIES - 5 to 14 years', 'Total; Estimate; Total population - SELECTED AGE CATEGORIES - 15 to 17 years', 'Total; Margin of Error; Total population - SELECTED AGE CATEGORIES - 15 to 17 years', 'Male; Estimate; Total population - SELECTED AGE CATEGORIES - 15 to 17 years', 'Male; Margin of Error; Total population - SELECTED AGE CATEGORIES - 15 to 17 years', 'Female; Estimate; Total population - SELECTED AGE CATEGORIES - 15 to 17 years', 'Female; Margin of Error; Total population - SELECTED AGE CATEGORIES - 15 to 17 years', 'Total; Estimate; Total population - SELECTED AGE CATEGORIES - 18 to 24 years', 'Total; Margin of Error; Total population - SELECTED AGE CATEGORIES - 18 to 24 years', 'Male; Estimate; Total population - SELECTED AGE CATEGORIES - 18 to 24 years', 'Male; Margin of Error; Total population - SELECTED AGE CATEGORIES - 18 to 24 years', 'Female; Estimate; Total population - SELECTED AGE CATEGORIES - 18 to 24 years', 'Female; Margin of Error; Total population - SELECTED AGE CATEGORIES - 18 to 24 years', 'Total; Estimate; Total population - SELECTED AGE CATEGORIES - 15 to 44 years', 'Total; Margin of Error; Total population - SELECTED AGE CATEGORIES - 15 to 44 years', 'Male; Estimate; Total population - SELECTED AGE CATEGORIES - 15 to 44 years', 'Male; Margin of Error; Total population - SELECTED AGE CATEGORIES - 15 to 44 years', 'Female; Estimate; Total population - SELECTED AGE CATEGORIES - 15 to 44 years', 'Female; Margin of Error; Total population - SELECTED AGE CATEGORIES - 15 to 44 years', 'Total; Estimate; Total population - SELECTED AGE CATEGORIES - 16 years and over', 'Total; Margin of Error; Total population - SELECTED AGE CATEGORIES - 16 years and over', 'Male; Estimate; Total population - SELECTED AGE CATEGORIES - 16 years and over', 'Male; Margin of Error; Total population - SELECTED AGE CATEGORIES - 16 years and over', 'Female; Estimate; Total population - SELECTED AGE CATEGORIES - 16 years and over', 'Female; Margin of Error; Total population - SELECTED AGE CATEGORIES - 16 years and over', 'Total; Estimate; Total population - SELECTED AGE CATEGORIES - 18 years and over', 'Total; Margin of Error; Total population - SELECTED AGE CATEGORIES - 18 years and over', 'Male; Estimate; Total population - SELECTED AGE CATEGORIES - 18 years and over', 'Male; Margin of Error; Total population - SELECTED AGE CATEGORIES - 18 years and over', 'Female; Estimate; Total population - SELECTED AGE CATEGORIES - 18 years and over', 'Female; Margin of Error; Total population - SELECTED AGE CATEGORIES - 18 years and over', 'Total; Estimate; Total population - SELECTED AGE CATEGORIES - 60 years and over', 'Total; Margin of Error; Total population - SELECTED AGE CATEGORIES - 60 years and over', 'Male; Estimate; Total population - SELECTED AGE CATEGORIES - 60 years and over', 'Male; Margin of Error; Total population - SELECTED AGE CATEGORIES - 60 years and over', 'Female; Estimate; Total population - SELECTED AGE CATEGORIES - 60 years and over', 'Female; Margin of Error; Total population - SELECTED AGE CATEGORIES - 60 years and over', 'Total; Estimate; Total population - SELECTED AGE CATEGORIES - 62 years and over', 'Total; Margin of Error; Total population - SELECTED AGE CATEGORIES - 62 years and over', 'Male; Estimate; Total population - SELECTED AGE CATEGORIES - 62 years and over', 'Male; Margin of Error; Total population - SELECTED AGE CATEGORIES - 62 years and over', 'Female; Estimate; Total population - SELECTED AGE CATEGORIES - 62 years and over', 'Female; Margin of Error; Total population - SELECTED AGE CATEGORIES - 62 years and over', 'Total; Estimate; Total population - SELECTED AGE CATEGORIES - 65 years and over', 'Total; Margin of Error; Total population - SELECTED AGE CATEGORIES - 65 years and over', 'Male; Estimate; Total population - SELECTED AGE CATEGORIES - 65 years and over', 'Male; Margin of Error; Total population - SELECTED AGE CATEGORIES - 65 years and over', 'Female; Estimate; Total population - SELECTED AGE CATEGORIES - 65 years and over', 'Female; Margin of Error; Total population - SELECTED AGE CATEGORIES - 65 years and over', 'Total; Estimate; Total population - SELECTED AGE CATEGORIES - 75 years and over', 'Total; Margin of Error; Total population - SELECTED AGE CATEGORIES - 75 years and over', 'Male; Estimate; Total population - SELECTED AGE CATEGORIES - 75 years and over', 'Male; Margin of Error; Total population - SELECTED AGE CATEGORIES - 75 years and over', 'Female; Estimate; Total population - SELECTED AGE CATEGORIES - 75 years and over', 'Female; Margin of Error; Total population - SELECTED AGE CATEGORIES - 75 years and over', 'Total; Estimate; Total population - SUMMARY INDICATORS - Median age (years)', 'Total; Margin of Error; Total population - SUMMARY INDICATORS - Median age (years)', 'Male; Estimate; Total population - SUMMARY INDICATORS - Median age (years)', 'Male; Margin of Error; Total population - SUMMARY INDICATORS - Median age (years)', 'Female; Estimate; Total population - SUMMARY INDICATORS - Median age (years)', 'Female; Margin of Error; Total population - SUMMARY INDICATORS - Median age (years)', 'Total; Estimate; Total population - SUMMARY INDICATORS - Sex ratio (males per 100 females)', 'Total; Margin of Error; Total population - SUMMARY INDICATORS - Sex ratio (males per 100 females)', 'Male; Estimate; Total population - SUMMARY INDICATORS - Sex ratio (males per 100 females)', 'Male; Margin of Error; Total population - SUMMARY INDICATORS - Sex ratio (males per 100 females)', 'Female; Estimate; Total population - SUMMARY INDICATORS - Sex ratio (males per 100 females)', 'Female; Margin of Error; Total population - SUMMARY INDICATORS - Sex ratio (males per 100 females)', 'Total; Estimate; Total population - SUMMARY INDICATORS - Age dependency ratio', 'Total; Margin of Error; Total population - SUMMARY INDICATORS - Age dependency ratio', 'Male; Estimate; Total population - SUMMARY INDICATORS - Age dependency ratio', 'Male; Margin of Error; Total population - SUMMARY INDICATORS - Age dependency ratio', 'Female; Estimate; Total population - SUMMARY INDICATORS - Age dependency ratio', 'Female; Margin of Error; Total population - SUMMARY INDICATORS - Age dependency ratio', 'Total; Estimate; Total population - SUMMARY INDICATORS - Old-age dependency ratio', 'Total; Margin of Error; Total population - SUMMARY INDICATORS - Old-age dependency ratio', 'Male; Estimate; Total population - SUMMARY INDICATORS - Old-age dependency ratio', 'Male; Margin of Error; Total population - SUMMARY INDICATORS - Old-age dependency ratio', 'Female; Estimate; Total population - SUMMARY INDICATORS - Old-age dependency ratio', 'Female; Margin of Error; Total population - SUMMARY INDICATORS - Old-age dependency ratio', 'Total; Estimate; Total population - SUMMARY INDICATORS - Child dependency ratio', 'Total; Margin of Error; Total population - SUMMARY INDICATORS - Child dependency ratio', 'Male; Estimate; Total population - SUMMARY INDICATORS - Child dependency ratio', 'Male; Margin of Error; Total population - SUMMARY INDICATORS - Child dependency ratio', 'Female; Estimate; Total population - SUMMARY INDICATORS - Child dependency ratio', 'Female; Margin of Error; Total population - SUMMARY INDICATORS - Child dependency ratio', 'Total; Estimate; Total population - PERCENT IMPUTED - Sex', 'Total; Margin of Error; Total population - PERCENT IMPUTED - Sex', 'Male; Estimate; Total population - PERCENT IMPUTED - Sex', 'Male; Margin of Error; Total population - PERCENT IMPUTED - Sex', 'Female; Estimate; Total population - PERCENT IMPUTED - Sex', 'Female; Margin of Error; Total population - PERCENT IMPUTED - Sex', 'Total; Estimate; Total population - PERCENT IMPUTED - Age', 'Total; Margin of Error; Total population - PERCENT IMPUTED - Age', 'Male; Estimate; Total population - PERCENT IMPUTED - Age', 'Male; Margin of Error; Total population - PERCENT IMPUTED - Age', 'Female; Estimate; Total population - PERCENT IMPUTED - Age', 'Female; Margin of Error; Total population - PERCENT IMPUTED - Age', 'Year']

In [34]:
income_list = [Income16_df, Income17_df, Income15_df, Income14_df, Income10_df,
               Income11_df, Income05_df, Income13_df, Income07_df, Income06_df, Income12_df,
               Income08_df, Income09_df]

age_list =[Age11_df, Age05_df, Age10_df, Age06_df,Age12_df, Age13_df, Age07_df, Age17_df,
           Age16_df, Age14_df, Age15_df, Age09_df, Age08_df,]

race_list = [Race06_df, Race12_df,Race13_df,Race07_df, Race11_df, Race05_df, Race10_df,
             Race14_df, Race15_df, Race17_df,Race16_df, Race09_df, Race08_df,]

income_data = []
for df in income_list:
    income_columns = df.columns[df.columns.str.contains(pat="Households; Estimate;")]
    income_data.append(df[income_columns])
    

age_data = []
for df in age_list:
    age_columns = df.columns[df.columns.str.contains(pat="Estimate; Total population - AGE")]
    age_data.append(df[age_columns])
    



#race_data = []
#for df in race_list:
    #race_columns = df.columns[df.columns.str.contains(pat="Estimate;")]
    #race_data.append(df[race_columns])

In [35]:
age_data[0].head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [19]:
income_12 = Income12_df[income_columns]

income_12.head()

,Households; Estimate; Total,"Households; Estimate; Less than $10,000","Households; Estimate; $10,000 to $14,999","Households; Estimate; $15,000 to $24,999","Households; Estimate; $25,000 to $34,999","Households; Estimate; $35,000 to $49,999","Households; Estimate; $50,000 to $74,999","Households; Estimate; $75,000 to $99,999","Households; Estimate; $100,000 to $149,999","Households; Estimate; $150,000 to $199,999","Households; Estimate; $200,000 or more",Households; Estimate; Median income (dollars),Households; Estimate; Mean income (dollars),Households; Estimate; PERCENT IMPUTED - Household income in the past 12 months,Households; Estimate; PERCENT IMPUTED - Family income in the past 12 months,Households; Estimate; PERCENT IMPUTED - Nonfamily income in the past 12 months
0,88192,18.1,10.7,14.5,12.4,14.4,13.9,7.7,5.5,1.6,1.2,30701,43048,35.1,(X),(X)
1,25231,10.2,9.3,12.9,11.0,13.8,15.3,9.4,9.0,4.9,4.1,42665,64223,29.1,(X),(X)
2,31087,1.6,3.0,6.2,8.9,14.5,17.7,13.6,16.8,8.8,8.9,70583,95990,23.6,(X),(X)
3,75912,9.3,6.8,11.8,9.9,14.0,15.9,11.4,11.6,5.5,3.9,47818,69008,27.2,(X),(X)
4,76617,14.5,8.4,13.7,13.0,14.0,17.1,7.5,7.2,2.3,2.2,35238,50238,25.8,(X),(X)

In [ ]:
data_frames = [Race06_df, 
Race12_df,
Income16_df, 
Age11_df, Age05_df, 
Income17_df,
Age10_df,Race13_df,Race07_df, 
Race11_df,
Race05_df,
Age06_df,
Age12_df,
Income15_df,
Age13_df, Income14_df, 
Age07_df,
Race10_df,
Race14_df,
Income10_df,
Age17_df,
Income11_df,
Age16_df, 
Income05_df, 
Race15_df, 
Race17_df, 
Age14_df, 
Income13_df, 
Income07_df,
Income06_df,
Age15_df,
Income12_df,
Race16_df,
Income08_df,
Income09_df,
Race09_df,
Race08_df,
Age09_df,
Age08_df,]

In [ ]:
from functools import reduce

data_frames = [Race06_df, 
Race12_df,
Income16_df, 
Age11_df, Age05_df, 
Income17_df,
Age10_df,Race13_df,Race07_df, 
Race11_df,
Race05_df,
Age06_df,
Age12_df,
Income15_df,
Age13_df, Income14_df, 
Age07_df,
Race10_df,
Race14_df,
Income10_df,
Age17_df,
Income11_df,
Age16_df, 
Income05_df, 
Race15_df, 
Race17_df, 
Age14_df, 
Income13_df, 
Income07_df,
Income06_df,
Age15_df,
Income12_df,
Race16_df,
Income08_df,
Income09_df,
Race09_df,
Race08_df,
Age09_df,
Age08_df]

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Geography'],
                                            how='outer'), data_frames)

df_merged.head(5)

In [ ]:
from geopy.geocoders import GoogleV3
locations = df_merged["Geography"]
geolocator = GoogleV3(api_key='AIzaSyDLVWpa6EhCXUaEms-89CB49H9Jlkw8L1k')
for location in locations:
   #print location
    results = geolocator.geocode(query=location, language='en', exactly_one=False, timeout=5)
       #for result in results:
           #print result.raw
        
print(locations[0])

In [ ]:
#df_merged.to_csv('2005_2017_P2_data.csv')